/* RESET */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PT Sans Caption, PT Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  border-collapse: inherit;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  color: inherit;
}
/* END_RESET */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
